@model IEnumerable<InventarioWeb.Models.Dtos.ProductoDto>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" ng-controller="ProductosController">

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card mt-3">
                        <div class="card-header">
                            <button class="btn btn-success" data-toggle="modal" data-target="#modal-default">
                                <i class="fas fa-plus"></i> Nuevo
                            </button>

                            <button class="btn btn-primary disabled" ng-click="editarItem(1, 2);">
                                <i class="fas fa-pen"></i> Editar
                            </button>
                            <button class="btn btn-danger disabled">
                                <i class="fas fa-trash"></i> Eliminar
                            </button>
                            <button class="btn btn-warning" data-toggle="modal" data-target="#modal-default">
                                <i class="fas fa-upload"></i> Carga masiva
                            </button>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="table" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Proveedor</th>
                                        <th>Producto</th>
                                        <th>Costo</th>
                                        <th>Precio</th>
                                        <th>Contenido</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProveedorId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductoId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Costo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Precio)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Contenido)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Unidad)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProveedorNombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nombre)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Costoformat)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PrecioFormat)
                                            </td>
                                            <td>
                                                @($"{item.Contenido} {item.Unidad}")
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>Proveedor</th>
                                        <th>Producto</th>
                                        <th>Costo</th>
                                        <th>Precio</th>
                                        <th>Contenido</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->

    <form class="needs-validation" novalidate action="Productos/Create" method="post">
        @Html.AntiForgeryToken()
        <div class="modal fade" id="modal-default">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Nuevo elemento</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="Nombre">Nombre</label>
                                <input type="text" class="form-control text-uppercase" id="Nombre" name="Nombre" required maxlength="64">
                                <div class="valid-feedback">
                                    Buen trabajo!
                                </div>
                                <div class="invalid-feedback">
                                    Porfavor ingresa un nombre valido.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="Costo">Costo</label>
                                <input type="number" class="form-control" id="Costo" name="Costo" required min="1" max="9999" step="0.1">
                                <div class="valid-feedback">
                                    Buen trabajo!
                                </div>
                                <div class="invalid-feedback">
                                    Porfavor ingresa un costo valido.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="Precio">Precio</label>
                                <input type="number" class="form-control" id="Precio" name="Precio" required min="1" max="9999" step="0.1">
                                <div class="valid-feedback">
                                    Buen trabajo!
                                </div>
                                <div class="invalid-feedback">
                                    Porfavor ingresa un precio valido.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="ProveedorId">Proveedor</label>
                                <select class="form-control" style="width: 100%;" id="ProveedorId" name="ProveedorId" required>
                                    <option ng-repeat="proveedor in proveedores" value="{{proveedor.ProveedorId}}">
                                        {{proveedor.Nombre}}
                                    </option>
                                </select>
                                <div class="valid-feedback">
                                    Buen trabajo!
                                </div>
                                <div class="invalid-feedback">
                                    Porfavor ingresa un proveedor valido.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="Contenido">Contenido</label>
                                <input type="number" class="form-control" id="Contenido" name="Contenido" required min="1" max="9999" step="0.1">
                                <div class="valid-feedback">
                                    Buen trabajo!
                                </div>
                                <div class="invalid-feedback">
                                    Porfavor ingresa un contenido valida.
                                </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="Unidad">Unidad</label>
                                <select class="form-control" style="width: 100%;" id="Unidad" name="Unidad" required>
                                    <option value="lt.">lt.</option>
                                    <option value="ml.">ml.</option>
                                    <option value="gr.">gr.</option>
                                    <option value="kg.">kg.</option>
                                    <option value="pza.">pza.</option>
                                    <option value="pzas.">pzas.</option>
                                </select>
                                <div class="valid-feedback">
                                    Buen trabajo!
                                </div>
                                <div class="invalid-feedback">
                                    Porfavor ingresa un unidad valida.
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="AlmacenId">Almacen</label>
                                <select class="form-control" style="width: 100%;" id="AlmacenId" name="AlmacenId" required>
                                    <option ng-repeat="almacen in almacenes" value="{{almacen.AlmacenId}}">
                                        {{almacen.Nombre}}
                                    </option>
                                </select>
                                <div class="valid-feedback">
                                    Buen trabajo!
                                </div>
                                <div class="invalid-feedback">
                                    Porfavor ingresa un proveedor valido.
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="Costo">Inventario inicial</label>
                                <input type="number" class="form-control" id="Inventario" name="Inventario" required min="1" max="9999" step="0.1" value="5">
                                <div class="valid-feedback">
                                    Buen trabajo!
                                </div>
                                <div class="invalid-feedback">
                                    Porfavor ingresa un costo valido.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </form>
    <!-- /.modal -->


</div>
<!-- /.content-wrapper -->

<script src="~/Scripts/Controllers/ProductosController.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $('#table tbody').on('click', 'tr', function () {
        var data = $('#table')
            .DataTable()
            .row(this).data();

        $("#modalTitle").html("Editar elemento");
        $("#ProveedorId").val(data[0]);
        $("#Nombre").val(data[6]);
        $("#Costo").val(data[2]);
        $("#Precio").val(data[3]);
        $("#Contenido").val(data[4]);
        $("#Unidad").val(data[5]);
        $('#modal-default').modal('show');
    });

    $(function () {
        $("#table").DataTable({
            "language": {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "columnDefs": [
                {
                    "targets": [0,1,2,3,4,5],
                    "visible": false
                }
            ],
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": ["copy", "excel", "pdf"]
        }).buttons().container().appendTo('#table_wrapper .col-md-6:eq(0)');
    });

</script>